#root {
  max-width: 1280px;
  padding: 1rem;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  background-color: #1e3a8a;
  padding: 15px;
  border-radius: 8px;
}

.container > div {
  background-color: #f3f4f6;
  border: 1px solid #3b82f6;
  padding: 15px;
  font-size: 18px;
  border-radius: 8px;
}

input {
  max-width: 150px;
}

h2 {
  margin-top: 0;
}

/* Tablet (max-width 900px) */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Mobile (max-width 600px) */
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
